<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tasks</title>
	<style type="text/css">
		.done {
			text-decoration: line-through;
		}
	</style>
</head>
<body>
	<div id="app">
		<input type="text" v-model = "taskItem" >
		<button @click='addTask' >add Task</button>
		<ol>
			<template v-for='(task, index) in tasks'>
				<li v-if = "!task.status">
					<input type="checkbox" v-model="task.status" @click='addTaskFinished(index)'> 
					<span v-bind:class ="[task.status ? 'done' : '']">{{task.item}}</span>
					<button @click="deleteTask(index)">X</button>			
				</li>
			</template>
				
		</ol>
		<ol>
			<template v-for='(task, index) in tasks'>
				<li v-if = "task.status">
					<span>{{task.item}}</span>
					<button @click = "returnTask(index)">↑</button>
				</li>
			</template>

		</ol>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>
	<script>
			const app = new Vue ({
			el: '#app',
			data: {
				tasks: [{
					item: 'Ihor',
					status: false,
				}],
				taskFinished:[{
					item: 'Ihor Done',
					status: true,
				}],
				taskItem: '',
				},
				 
			methods: {
				addTask: function (){
					this.tasks.push({ item: this.taskItem, status: false});
					this.taskItem = '';
				},
				deleteTask: function (id){
					this.tasks.splice(id,1);
				},	
				addTaskFinished: function(id){
					let task = this.tasks[id];
					task.status = true;
					//this.taskFinished.push(task);
					//this.deleteTask(id);
				},
				returnTask: function(id){
					let task = this.tasks[id];
					task.status = false;

					//this.tasks.push(task);
					//this.taskFinished.splice(id,1);;
				}
			},
		})
			
	</script>
</body>
</html>