<style type="text/css">
		.done {
			text-decoration: line-through;
		}
	</style>
</head>
<body>
	<div id="app">
		
		<ol>
			<li >
				<input type="checkbox" v-model="doneToggle" >
			<span :class='[doneToggle ? "done" : ""]'>111</span>		
			</li>
			<!--<li>
				<input type="checkbox" v-model='doneToggle'>
			222		
			</li>-->

				
		</ol>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>
	<script>
			const app = new Vue ({
			el: '#app',
			data: {
				doneToggle: false,
				},

			

		})
	</script>
	
</body>
</html>
